<div  class="row">
    <div style="text-align:left; margin: 20px 0px;">
        <label > Your Name * </label>
    </div>
    <div class="col-md-6">
        <input type="text" placeholder="" class="form-control">
        <label> First Name</label>
    </div>
    <div class="col-md-6">
        <input type="text" placeholder="" class="form-control">
        <label> Last Name</label>
    </div>
</div>

<div >
    <div style="text-align:left; margin: 20px 0px;">
        <label > Email * </label>
    </div>    
    <div>
        <input type="text" class="form-control">
    </div>
</div>