<div >
    <div style="text-align:left; margin: 20px 0px;">
        <label > Date and Time you first noticed this bug * </label>
    </div> 
</div>    

<!-- Date -->
<div style="text-align:left;">    
    <div class="btn-group" style="margin: 10px;">
        <button class="btn btn-outline-secondary btn-md dropdown-toggle" data-toggle="dropdown">
        </button>
    </div>    
    <div class="btn-group" style="margin: 10px;"> 
        <button class="btn btn-outline-secondary btn-md dropdown-toggle" data-toggle="dropdown">
        </button>
    <div class="btn-group" style="margin: 10px;">    
    </div>     
        <button class="btn btn-outline-secondary btn-md dropdown-toggle" data-toggle="dropdown">
        </button>
        <span class="glyphicon glyphicon-calendar"></span>
    </div>  
</div>    

<!-- Time -->
<div style="text-align:left;">    
    <div class="btn-group" style="margin: 10px;">
        <button class="btn btn-outline-secondary btn-md dropdown-toggle" data-toggle="dropdown">
        </button>
    </div>    
    <div class="btn-group" style="margin: 10px;"> 
        <button class="btn btn-outline-secondary btn-md dropdown-toggle" data-toggle="dropdown">
        </button>
    <div class="btn-group" style="margin: 10px;">    
    </div>     
        <button class="btn btn-outline-secondary btn-md dropdown-toggle" data-toggle="dropdown">
        </button>
    </div>  
</div>

<!-- Impact  -->
<div class="dropdown" style="margin: 20px 0px;">
    <button class="btn btn-outline-secondary dropdown-toggle form-control" style="text-align:left;">
    Low
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#"> Medium </a>
      <a class="dropdown-item" href="#"> High </a>
    </div>
  </div>

  <!-- TextArea -->
  <div>
    <div style="text-align:left; margin: 20px 0px;">
        <label > Details Explanation of bug * </label>
    </div> 
      <textarea cols="180" rows="3" class="form-control"></textarea>
  </div>
